---
---

<div class="icon_container">
  <i class="fa-brands fa-instagram fa-2xl"></i>
</div>

<style>
  .icon_container {
    margin-left: auto;
    margin-top: 20%;
    height: 50px;
    width: 60px;

    background-color: var(--footer);
    z-index: 100;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: grid;
    position: sticky;
  }
  .fa-brands {
    color: var(--maintekst);
    margin: auto;
    margin-right: 20px;
  }
</style>
