---
---

<span class="line"></span>

<style>
  .line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #f75443;
    border-radius: 0px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>
