---
---

<section>
  <h1>quiz of the month</h1>
  <p>Get your monthly knowledge about wine & deli...</p>
  <div class="quiz">
    <span class="box"></span>
    <span class="box"></span>
    <span class="box"></span>
  </div>
</section>

<style></style>

<style>
  p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .quiz {
    display: flex;
    gap: 5%;
    justify-content: center;
  }
  .box {
    display: block;
    height: 300px;
    width: 300px;
    background-color: var(--maintekst);
    border-radius: 0px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>
