---
import Animation from "../components/Animation.astro";
---

<span class="video_placeholder">
  <h2>thirsty? peckish? curious? we've got you covered!</h2>
  <Animation />
</span>

<style>
  .video_placeholder {
    display: block;
    height: 400px;
    width: 100%;
    background-color: #f75443;
    border-radius: 0px;
    display: grid;
  }
  h2 {
    margin-left: 40%;
    padding-top: 200px;
    margin-right: 10%;
    font-size: var(--xs);
    color: var(--baggrund);
    font-weight: 400;
  }

  @media (min-width: 1050px) {
    h2 {
      margin-left: 55%;
      padding-top: 300px;
      margin-right: 10%;
      font-size: var(--s);
    }
    .video_placeholder {
      height: 550px;
      width: 100%;
      background-color: #f75443;
      border-radius: 0px;
    }
  }
</style>
