---
---

<span class="video_placeholder">
  <h2>thirsty? peckish? curious? we've got you covered!</h2>
  <div class="arrow">
    <span class="arrow_bar"></span>
    <span class="arrow_bar"></span>
  </div>
</span>

<style>
  .video_placeholder {
    display: block;
    height: 400px;
    width: 100%;
    background-color: #f75443;
    border-radius: 0px;
    display: grid;
  }
  h2 {
    margin-left: 40%;
    padding-top: 200px;
    margin-right: 10%;
    font-size: var(--xs);
    color: var(--baggrund);
    font-weight: 400;
  }
  .arrow {
    display: none;
  }

  @media (min-width: 1050px) {
    h2 {
      margin-left: 55%;
      padding-top: 300px;
      margin-right: 10%;
      font-size: var(--s);
    }
    .video_placeholder {
      height: 550px;
      width: 100%;
      background-color: #f75443;
      border-radius: 0px;
    }
    .arrow_bar {
      display: block;
      height: 5px;
      width: 40px;
      background-color: var(--baggrund);
      border-radius: 0px;
      rotate: 45deg;
    }
    .arrow_bar:nth-child(2) {
      transform: translateX(14px) translateY(-21px) rotate(90deg);
    }
    .arrow {
      margin: auto;
      display: block;
      margin-bottom: 100px;
    }
  }
</style>
